extends layout

block headers
  script(src="/libs/jquery/jquery.min.js", type="text/javascript")
  script(src="/libs/three.min.js", type="text/javascript")
  script(src="/libs/requirejs/require.js", data-main="/js/main.js", type="text/javascript")
block content